@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Imc.Components

<form>
    <div class="container">
        <Imc.Components.Title Text="Cálculo de IMC"/>
        <Imc.Components.InputText PlaceHolder="Altura"/>
        <Imc.Components.InputText PlaceHolder="Peso"/>
        <Imc.Components.InputText PlaceHolder="Sexo"/>
        <Checkbox Name="isSeniorCitizen" Value="Eu tenho 65 anos ou mais!"/>
        <ButtonSubmitCustom Value="Calcular meu IMC" Type="submit"/>
        <ButtonSubmitCustom Value="Entenda seu cálculo" Type="primary"/>
    </div>
</form>

@code {
    protected override async Task OnInitializedAsync()
    {
        await localStorage.SetItemAsync("name", "John Smith");
        var name = await localStorage.GetItemAsync<string>("name");
    }
}