/* /Components/Checkbox.razor.rz.scp.css */
.checkbox[b-564hiwrzns] {
    margin-bottom: 16px;
    /* margin: 11px 0 27px 0; */
    display: flex;
    align-items: flex-start; /* Isso alinha os itens verticalmente ao início */
}

.input[type="checkbox"][b-564hiwrzns] {
    width: 16px;
    height: 16px;
    /* align-self: flex-start;  Remova essa linha para permitir que o checkbox alinhe à esquerda */
}

.input[type="checkbox"] + label[b-564hiwrzns] {
    color: #666666;
    font-size: 14px;
    margin-left: 8px; /* Adicione um espaço à esquerda entre o checkbox e o rótulo */
}
/* /Components/InputText.razor.rz.scp.css */
.input[type="text"][b-4vwlbjd91p]  {
    width: 343px;
    height: 50px;
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.input[type="text"] + label[b-4vwlbjd91p] {
    color: #BDBDBD;
}

input[b-4vwlbjd91p]::placeholder {
    color: #BDBDBD; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 10px; /* Adiciona um espaço de 10 pixels à esquerda do campo */
}
/* /Components/Title.razor.rz.scp.css */
.title[b-3c8o323ge3] {
    font-size: 30px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600; /* Adiciona semi-bold */
    margin-bottom: 21px;
    text-align: center;
}
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Pages/Home.razor.rz.scp.css */
form[b-u21jl3a434]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container[b-u21jl3a434] {
    align-items: center;
    max-width: 343px; /* Define uma largura máxima para a "caixa" */
    width: 100%; /* Faz com que a "caixa" tenha 100% da largura disponível */
}
